@import "./mixin.scss";
@import "../index.scss";

.commentButton {
  @include buttonSize(3.47%, 1em, 16px);
}

.checkDuplicationButton {
  @include buttonSize(6.9%, 1em, 20px);
}

.signUpLogInButton {
  @include buttonSize(100%, 2.5em, 24px);
}

.searchButton {
  @include buttonSize(100%, 100%, 20px);
}

.initialProjectButton {
  @include buttonSize(18.5%, 1em, 24px);
}

.invitationCodeButton {
  @include buttonSize(5.8%, 1em, 16px);
}

.dark {
  @include buttonColor($main-white, $main-black);
  opacity: 85%;

  &:hover {
    opacity: 100%;
    @include buttonColor($main-black, $main-white);
  }
}

.blue {
  @include buttonColor($main-blue, $main-white);
  border: 1px solid $main-blue;

  &:hover {
    @include buttonColor($main-blue-hover, $main-white);
  }
}

.grey {
  @include buttonColor($main-brightGrey, $main-black);
  border: 1px solid $main-darkGrey;
  border-radius: 15px;

  &:hover {
    @include buttonColor($main-grey, $main-darkGrey);
  }
}

.button-margin {
  margin-right: 10px;
}

.signUpLogInButton blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}