.planItems{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: white;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
}

.planIcons {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}