#priority1 {
  background-color: #EC3500;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px 15px;
  font-size: 16px;
  font-weight: bold;
}

#priority2 {
  background-color: #384CFF;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px 15px;
  font-size: 16px;
  font-weight: bold;
}

#priority3 {
  background-color: #008325;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px 15px;
  font-size: 16px;
  font-weight: bold;
}

.priorityText{
  font-size: 20px
}