.input-container {
  width: 30%;              /* 컨테이너의 너비를 100%로 설정 */
  display: flex;            /* 플렉스 박스 레이아웃 설정 */
  justify-content: center;  /* 컨텐츠를 가로 방향으로 중앙 정렬 */
  align-items: center;      /* 컨텐츠를 세로 방향으로 중앙 정렬 */
  margin-top: 50px;         /* 상단 마진 설정 */
  margin-left: auto;
  margin-right: auto;
}

.input-line {
  width: 100%;              /* 입력 필드의 너비를 100%로 설정 */
  padding: 10px;            /* 패딩 설정 */
  font-size: 16px;          /* 텍스트 크기 설정 */
  font-family: Arial, sans-serif; /* 폰트 설정 */
  border: none;             /* 모든 테두리를 제거 */
  border-bottom: 1px solid #000; /* 하단에만 테두리를 추가 */
  outline: none;            /* 포커스 시 아웃라인 제거 */
  color: #000;
}

.single-line-input::placeholder {
  color: #ccc;
}

.input-email-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-email {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  color: #333;

  &::placeholder {
    color: #ccc;
  }
}

.at-symbol {
  width: 5%;
  font-size: 20px;
  text-align: center;
  color: #333;
}

.email-domain {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: white;
  color: #333;
}


//.input-email {
//  width: 100%;
//  padding: 10px;
//  font-size: 16px;
//  font-family: Arial, sans-serif;
//  border: none;
//  border-bottom: 2px solid #ccc; /* 테두리를 더 뚜렷하게 하여 이메일 입력 필드임을 강조 */
//  outline: none;
//  color: #333; /* 입력 텍스트 색상을 더 어둡게 설정 */
//
//  &::placeholder {
//    color: #ccc; /* 플레이스홀더 색상 유지 */
//  }
//
//}